html {
    font-size: 62.5%;  // base-10
}
body {
    background-color: $dark-blue;
    font-family: Helvetica, Arial, san-serif;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}